---
interface Props {
  imageSrc: string;
  imageAlt?: string;
  pageHref: string;
  pageTitle: string;
  pageDescription: string;
}

const { imageSrc, imageAlt, pageHref, pageTitle, pageDescription } =
  Astro.props;
---

<a href={pageHref} target="_blank" class="max-w-sm m-2">
  <div>
    <img class="rounded-lg" src={imageSrc} alt={imageAlt} />
  </div>
  <div class="p-3">
    <h3 class="text-verd underline-offset-2 font-bold text-2xl">
      {pageTitle}
    </h3>

    <p class="mb-3 font-lg text-lletra dark:text-gray-400">
      {pageDescription}
    </p>
  </div>
</a>
